[submodule "workspace/src/ros-node-interface"]
	path = workspace/src/ros-node-interface
	url = git@github.com:HenrikTrom/ros-node-interface.git
[submodule "workspace/src/keiko_msgs"]
	path = workspace/src/keiko_msgs
	url = git@github.com:HenrikTrom/keiko_msgs.git
[submodule "build/dependencies/flirmulticamera"]
	path = build/dependencies/flirmulticamera
	url = git@github.com:HenrikTrom/flirmulticamera.git
[submodule "build/dependencies/cpp_utils"]
	path = build/dependencies/cpp_utils
	url = git@github.com:HenrikTrom/cpp_utils.git
