[submodule "workspace/src/ros-node-interface"]
	path = workspace/src/ros-node-interface
	url = https://github.com/HenrikTrom/ros-node-interface.git
[submodule "workspace/src/flir_icp_calib"]
	path = workspace/src/flir_icp_calib
	url = https://github.com/HenrikTrom/flir_icp_calib.git
[submodule "workspace/src/keiko_msgs"]
	path = workspace/src/keiko_msgs
	url = https://github.com/HenrikTrom/keiko_msgs.git
[submodule "build/dependencies/Docker-OpenCV-TensorRT-Dev"]
	path = build/dependencies/Docker-OpenCV-TensorRT-Dev
	url = https://github.com/HenrikTrom/Docker-OpenCV-TensorRT-Dev.git
[submodule "build/dependencies/flirmulticamera"]
	path = build/dependencies/flirmulticamera
	url = https://github.com/HenrikTrom/flirmulticamera.git
[submodule "workspace/src/real-time-3D-tracking"]
	path = workspace/src/real-time-3D-tracking
	url = https://github.com/HenrikTrom/real-time-3D-tracking.git
[submodule "workspace/multi-camera-calib"]
	path = workspace/multi-camera-calib
	url = https://github.com/HenrikTrom/multi-camera-calib.git
